body {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
}

button {
  padding: 7px 50px;
  background-color: rgb(76, 214, 143);
  color: #000000;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}
