html {
  background-color: #f4f2ea;
}

.main-part {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  align-items: flex-start;
  width: 47vw;
  margin: 0 auto;
}

.main-part__enter-field,
.main-part__task-list-field {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: left;
  width: 47vw;
}

.main-part__title,
.main-part__enter-field__paragraph,
.main-part__task-list-field__paragraph {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #373739;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.main-part__title {
  align-self: center;
}

.main-part__enter-field__paragraph,
.main-part__task-list-field__paragraph {
  color: #000000;
  font-size: 22px;
  font-weight: 600;
  text-align: left;
  margin-bottom: 10px;
}

.main-part__task-list-field__paragraph {
  margin-top: 10px;
}

.main-part__enter-field__input-button-field {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 20px;
}

.main-part__enter-field__input {
  margin-right: 10px;
  padding: 12px;
  font-size: 16px;
  border-radius: 3px;
  border: 1px solid #a8a8ab;
}

.main-part__enter-field__button,
.main-part__button__clearing-button,
.main-part__button__clearing-button-active {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: 700;
  background-color: #ffb689;
  color: #000000;
  font-size: 16px;
  border: none;
  border-radius: 3px;
  padding: 12px 75px;
  box-sizing: border-box;
  cursor: pointer;
}

.main-part__button__clearing-button {
  align-self: flex-end;
  padding: 12px 25px;
  color: #8e8c8c;
  background-color: #dfdfe4;
  cursor: default;
}

.main-part__button__clearing-button-active {
  align-self: flex-end;
  padding: 12px 25px;
}

.main-part__task-list-field__tasks-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 90px;
  margin-bottom: 20px;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #a8a8ab;
  background-color: #ffffff;
  justify-content: center;
  align-content: center;
}

.main-part__task-list-field__default-text {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #a8a8ab;
}

.main-part__task-list-field__task-item {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 3px;
  border: 1px solid #a8a8ab;
  background-color: #ffffff;
  justify-content: space-between;
  margin-bottom: 10px;
}

.main-part__task-list-field__task-item-text {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  color: #000000;
  padding: 5px;
}

input[type="checkbox"] {
  display: none;
}

.custom-checkbox,
.custom-checkbox-active {
  display: inline-block;
  object-fit: cover;
  width: 20px;
  height: 20px;
  border: none;
  cursor: pointer;
  margin-right: 10px;
  background-image: url("/assets/images/gray.jpg");
}

input[type="checkbox"]:checked + .custom-checkbox {
  background-image: url("/assets/images/green.jpg");
}

.custom-checkbox:hover {
  transform: scale(1.2);
}
