@font-face {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  src: url(/fonts/static/OpenSans-Regular.ttf);
}

html {
  background-color: #fffef9;
}

header,
main,
footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

header li {
  list-style: none;
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  color: #373739;
  padding: 1.25rem;
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: #373739;
  font-size: 1.1rem;
}

p {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 1.1rem;
  line-height: 150%;
  color: #373739;
}

main {
  margin-top: 1.8rem;
  justify-content: center;
}

section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 80%;
  background-color: #fff9e3;
  padding: 1rem;
  box-sizing: border-box;
}

aside {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  text-align: center;
  align-items: center;
  align-self: stretch;
  width: 20%;
  background-color: #ddeccb;
  padding: 1rem;
  box-sizing: border-box;
}

h1 {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 1.7rem;
  color: #373739;
  text-align: center;
  margin-bottom: 3.1rem;
}

.text-block-main {
  display: block;
  text-align: center;
  width: 95%;
}

.two-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin-top: 2rem;
}

.block1,
.block2,
.block3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 45%;
  padding: 1rem;
  box-sizing: border-box;
  text-align: center;
  background-color: #feeab8;
}

.block3 {
  width: 95%;
  margin-top: 1rem;
  margin-bottom: 1.5rem;
  padding: 2rem;
}

footer {
  align-items: flex-start;
  margin-top: 1.8rem;
}

footer ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
}

footer li {
  list-style: none;
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: normal;
  font-size: 0.8rem;
  color: #373739;
  padding: 0.6rem;
  box-sizing: border-box;
}

footer p {
  font-size: 0.8rem;
}

footer a {
  text-decoration: none;
  color: #373739;
  font-size: 0.8rem;
}

.footer-logo {
  display: block;
  width: 20%;
}
