html {
  background-color: #f4f2ea;
}

.basket {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 80vw;
  margin: 0 auto;
}

.basket__title {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 28px;
  color: #373739;
  text-align: center;
  margin-bottom: 50px;
  margin-top: 50px;
}

.basket__cardsContainer,
.result__container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
}

.result__container {
  flex-direction: row;
  margin-bottom: 100px;
  margin-top: 30px;
}

.result_resultTextAndSum {
  margin-left: auto;
}

.basket__card {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  border: 1px solid #000000;
  padding: 10px;
}

.basket__img-container {
  width: 200px;
  height: 300px;
}

.basket__img {
  width: 200px;
  height: 300px;
  object-fit: cover;
}

.basket__itemDescription,
.basket__itemPrice,
.basket__itemCurrency,
.result__resultText,
.result__resultSum,
.result__resultCurrency {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  color: #535353;
  font-size: 18px;
  padding-left: 20px;
}

.basket__itemPriceContainer,
.result__resultSum {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  margin-left: auto;
}

.basket__itemPrice,
.basket__itemCurrency,
.result__resultSum,
.result__resultCurrency {
  color: #343bc4;
  font-weight: 700;
  font-size: 22px;
  padding-left: 5px;
}

.result__resultCurrency {
  margin-left: auto;
}

.basket__itemName,
.result__resultText {
  color: #111111;
  font-weight: 700;
}

.result__resultText {
  text-align: right;
}

p {
  padding-bottom: 10px;
}

.basket__itemSpanGap {
  padding-left: 20px;
}

.result__discountButton {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  background-color: #000000;
  color: #ffffff;
  font-size: 18px;
  border: none;
  padding: 20px 50px;
  box-sizing: border-box;
  cursor: pointer;
}

.main-part__button {
  cursor: pointer;
}
