html {
  background-color: #b4b3b0;
}

main {
  width: 80%;
  margin: 20px auto;
}

.main-title,
.h2-title {
  font-weight: 500;
  font-size: 22px;
  text-align: center;
  margin-bottom: 20px;
  width: 100%;
}

.h2-title {
  margin-bottom: 5px;
}

.directors {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  font-size: 18px;
  width: 80%;
  margin: 0 auto;
}

div {
  padding: 7px 0px;
}

.directors__director {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: flex-start;
}

.directors__director__name {
  font-size: 22px;
}

.directors__2blocks__careerAndfilms {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  font-size: 17px;
}

.directors__director__career {
  color: #ffffff;
  display: block;
  width: 50%;
}

.directors__director__films {
  display: block;
  width: 50%;
}

.directors__director__films a {
  color: #000000;
  text-decoration: underline;
}

.directors__director__top_rated_film {
  color: #000000;
}
