@charset "UTF-8";
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Regular.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Regular.woff") format("woff"), url("../assets/fonts/Inter18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Medium.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Medium.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Medium.woff") format("woff"), url("../assets/fonts/Inter18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-SemiBold.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-SemiBold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-SemiBold.woff") format("woff"), url("../assets/fonts/Inter18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Bold.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Bold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Bold.woff") format("woff"), url("../assets/fonts/Inter18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Black.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Black.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Black.woff") format("woff"), url("../assets/fonts/Inter18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Regular.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Regular.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Regular.woff") format("woff"), url("../assets/fonts/Inter18pt-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Medium.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Medium.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Medium.woff") format("woff"), url("../assets/fonts/Inter18pt-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-SemiBold.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-SemiBold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-SemiBold.woff") format("woff"), url("../assets/fonts/Inter18pt-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Bold.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Bold.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Bold.woff") format("woff"), url("../assets/fonts/Inter18pt-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Inter", san-serif;
  src: url("../assets/fonts/Inter18pt-Black.eot") format("embedded-opentype"), url("../assets/fonts/Inter18pt-Black.woff2") format("woff2"), url("../assets/fonts/Inter18pt-Black.woff") format("woff"), url("../assets/fonts/Inter18pt-Black.ttf") format("truetype");
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
body {
  padding: 0px 20px;
  margin: 0;
}

.commonParagraph {
  margin: 2px 0 0 0;
}

.headerBlock {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
  margin-bottom: 20px;
  gap: 30px;
  position: sticky;
  top: 0px;
  z-index: 1;
  background-color: #f5f2eb;
  padding: 20px 0;
}

.logo {
  transition: transform 0.3s ease;
}

.logo:hover {
  transform: scale(1.1);
}

.titleH1 {
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 26px;
  color: #313030;
  letter-spacing: 1px;
  margin: 0 auto;
}

.headerButtonsContainer {
  margin-left: 0 auto 0;
}

.headerButton {
  width: 150px;
  height: 42px;
  border-radius: 6px;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  box-shadow: 0 0 4px 1px #5c5150;
  background-color: #53b75b;
  color: #ffffff;
  text-align: center;
  margin-top: 20px;
  cursor: pointer;
}
.headerButton:hover, .headerButton:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}

.main-menu {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  justify-content: left;
  align-items: center;
}
.main-menu a {
  color: #ffffff;
  text-decoration: none;
}
.main-menu ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 30px;
  list-style-type: none;
  padding: 0px;
}
.main-menu ul li {
  width: 150px;
  height: 42px;
  border-radius: 6px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  box-shadow: 0 0 4px 1px #5c5150;
  align-items: center;
  justify-content: center;
  background-color: #53b75b;
}
.main-menu ul li:hover, .main-menu ul li:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}

.main-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  min-height: 60vh;
  justify-content: center;
  align-items: center;
}

.LanguageChoiceContainer,
.WordsHandlingButtonsContainer,
.commonCardsContainer,
.horizontalCommonCardsContainer,
.animationContainer,
.WordsHandlingDivsContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 15px;
}

.WordsHandlingDivsContainer {
  width: 70vh;
  height: 40px;
  justify-content: space-between;
}

.commonCardsContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.languageChoiceButton {
  width: 130px;
  height: 44px;
  border-radius: 6px;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  box-shadow: 0 0 4px 1px #5c5150;
  border: none;
  cursor: pointer;
  background-color: #a4c9ff;
  color: #313030;
}
.languageChoiceButton:hover, .languageChoiceButton:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}

.prevCardButton,
.nextCardButton,
.inactiveButton {
  width: 40px;
  height: 40px;
  border-radius: 50px;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  box-shadow: 0 0 4px 1px #5c5150;
  border: none;
  background-color: #a4c9ff;
  cursor: pointer;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto;
}
.prevCardButton:hover, .prevCardButton:focus,
.nextCardButton:hover,
.nextCardButton:focus,
.inactiveButton:hover,
.inactiveButton:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}

.inactiveButton {
  background-color: #d1d1d1;
  cursor: default;
}
.inactiveButton:hover, .inactiveButton:focus {
  box-shadow: 0 0 4px 1px #5c5150;
}

.prevCardButton {
  background-image: url("../assets/images/icon-arrow-left.svg");
}

.nextCardButton {
  background-image: url("../assets/images/icon-arrow-right.svg");
}

.arrayCounter {
  font-size: 16px;
  color: #313030;
  margin: 0px auto 20px;
  height: 20px;
}

.cardContainer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 40px auto 10px;
  width: 500px;
  flex-shrink: 0;
  transition: transform 0.6s linear;
}

.card {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 500px;
  height: 300px;
  border-radius: 6px;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  box-shadow: 0 0 7px 1px #5c5150;
  background-color: #ffffff;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.card:hover, .card:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}
.card .cardWord {
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  color: #313030;
  height: 18px;
}
.card .cardTranscription {
  font-weight: 400;
  font-size: 16px;
  color: #5c5150;
  color: #5c5150;
  height: 18px;
}
.card .cardTranslation {
  font-weight: 400;
  font-size: 16px;
  color: #5c5150;
  color: #53b75b;
  height: 18px;
}

.buttonCardCheckTranslation {
  width: 107px;
  height: 26px;
  border-radius: 3px;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #5c5150;
  background-color: #53b75b;
  color: #ffffff;
  margin-top: 10px;
  border: none;
}
.buttonCardCheckTranslation:hover, .buttonCardCheckTranslation:focus {
  box-shadow: inset 0 0 3px 2px #5c5150;
}

.knownWords,
.unknownWords,
.allWords {
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  width: 30%;
}

.unknownWordsButton,
.knownWordsButton,
.allWordsButton {
  width: 150px;
  height: 46px;
  border-radius: 6px;
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 17px;
  color: #5c5150;
  box-shadow: 0 0 4px 1px #5c5150;
  border: none;
  cursor: pointer;
  color: #ffffff;
}
.unknownWordsButton:hover, .unknownWordsButton:focus,
.knownWordsButton:hover,
.knownWordsButton:focus,
.allWordsButton:hover,
.allWordsButton:focus {
  box-shadow: 0 0 7px 2px #5c5150;
}

.knownWordsButton {
  background-color: #53b75b;
}

.unknownWordsButton {
  background-color: #c73838;
}

.allWordsButton {
  width: 200px;
  height: 46px;
  border-radius: 6px;
  background-color: #a4c9ff;
  color: #313030;
}
.allWordsButton a {
  text-decoration: none;
  color: #313030;
}

@keyframes slide-left {
  0% {
    transform: translateX(40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
@keyframes slide-right {
  0% {
    transform: translateX(-40px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 1;
  }
}
.slide-left {
  animation: slide-left 0.3s ease-in-out;
}

.slide-right {
  animation: slide-right 0.3s ease-in-out;
}

.wordsListTable {
  width: 90%;
  background-color: #ffffff;
  border-collapse: collapse;
  margin: 30px auto;
}
.wordsListTable th,
.wordsListTable td {
  border: 1px solid #5c5150;
  padding: 5px 5px;
}
.wordsListTable td {
  text-align: left;
  width: 19.5%;
}
.wordsListTable td:first-child {
  width: 3%;
}
.wordsListTable td:last-child {
  width: 18%;
  text-align: right;
}
.wordsListTable input {
  border: none;
}
.wordsListTable input:focus {
  border: 2px solid #000000;
  outline: none !important;
  border-radius: 3px;
}
.wordsListTable .emptyInput {
  border: 2px solid red;
  border-radius: 3px;
}
.wordsListTable .emptyInput:focus {
  border: 2px solid red !important;
  border-radius: 3px;
  outline: none !important;
}

.rosy {
  background-color: #f1dedf;
}

.white {
  background-color: #ffffff;
}

.buttonSave,
.buttonCancel,
.buttonAddNewWord,
.buttonSaveInactive {
  width: 30px;
  height: 26px;
  border-radius: 3px;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #5c5150;
  display: inline-flex;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  width: 107px;
  height: 26px;
  border-radius: 3px;
  align-items: center;
  background-color: #53b75b;
  background-image: url("../assets/images/icon-check.svg");
  color: #ffffff;
  padding-left: 33px;
  background-position: 10px;
  margin-bottom: 5px;
}
.buttonSave:hover, .buttonSave:focus,
.buttonCancel:hover,
.buttonCancel:focus,
.buttonAddNewWord:hover,
.buttonAddNewWord:focus,
.buttonSaveInactive:hover,
.buttonSaveInactive:focus {
  box-shadow: inset 0 0 3px 2px #5c5150;
}

.buttonSaveInactive {
  background-color: #d1d1d1;
  cursor: default;
  box-shadow: none;
  pointer-events: none;
}
.buttonSaveInactive:hover, .buttonSaveInactive:focus {
  box-shadow: none;
}

.buttonCancel {
  background-color: #c73838;
  background-image: url("../assets/images/icon-cancel.svg");
}

.buttonEdit {
  width: 30px;
  height: 26px;
  border-radius: 3px;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #5c5150;
  display: inline-flex;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  background-color: #ec9215;
  background-image: url("../assets/images/icon-pencil.svg");
}
.buttonEdit:hover, .buttonEdit:focus {
  box-shadow: inset 0 0 3px 2px #5c5150;
}

.buttonDelete {
  width: 30px;
  height: 26px;
  border-radius: 3px;
  align-items: center;
  box-shadow: inset 0 0 1px 1px #5c5150;
  display: inline-flex;
  vertical-align: middle;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 16px 16px;
  border: none;
  margin-right: 5px;
  cursor: pointer;
  background-color: #c73838;
  background-image: url("../assets/images/icon-trash.svg");
  margin-right: 0px;
}
.buttonDelete:hover, .buttonDelete:focus {
  box-shadow: inset 0 0 3px 2px #5c5150;
}

.buttonAddNewWord {
  background-image: none;
  margin-right: 0px;
  padding: 5px;
  justify-content: center;
}

.footerBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 90px 0 20px;
}

.img404Container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
  width: 50%;
  -o-object-fit: contain;
     object-fit: contain;
}

.img404 {
  -o-object-fit: contain;
     object-fit: contain;
}

.text404 {
  font-family: "Inter", san-serif;
  font-weight: 400;
  font-size: 24px;
  color: #5c5150;
}

.animation404Container {
  position: relative;
  width: 40%;
  height: 100px;
}

.letter {
  position: absolute;
  animation: floatB 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

/* Разные позиции и задержки */
.letterB {
  top: 10%;
  left: 15%;
  animation: floatB 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterC {
  top: 30%;
  left: 28%;
  animation: floatC 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterSamurai {
  top: 55%;
  left: 15%;
  animation: floatSamurai 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterCh {
  top: 20%;
  left: 45%;
  animation: floatCh 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterH {
  top: 10%;
  left: 60%;
  animation: floatH 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterI {
  top: 70%;
  left: 65%;
  animation: floatI 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterK {
  top: 45%;
  left: 25%;
  animation: floatK 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterN {
  top: 50%;
  left: 38%;
  animation: floatN 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterO {
  top: 78%;
  left: 12%;
  animation: floatO 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterLove {
  top: 75%;
  left: 67%;
  animation: floatLove 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterP {
  top: 65%;
  left: 32%;
  animation: floatP 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterT {
  top: 35%;
  left: 53%;
  animation: floatT 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

.letterY {
  top: 55%;
  left: 78%;
  animation: floatY 4s cubic-bezier(0.42, 0, 0.58, 1) infinite;
}

/* Анимации для каждой буквы с уменьшенными отклонениями и равномерной скоростью */
@keyframes floatB {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, -20px);
  }
  50% {
    transform: translate(-20px, 10px);
  }
  75% {
    transform: translate(30px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatC {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-10px, -15px);
  }
  50% {
    transform: translate(20px, 30px);
  }
  75% {
    transform: translate(-40px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatSamurai {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, -30px);
  }
  50% {
    transform: translate(10px, 15px);
  }
  75% {
    transform: translate(-40px, 10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatCh {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(25px, -15px);
  }
  50% {
    transform: translate(-30px, 20px);
  }
  75% {
    transform: translate(15px, -10px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatH {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-40px, 20px);
  }
  50% {
    transform: translate(30px, -20px);
  }
  75% {
    transform: translate(-20px, 40px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatI {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(20px, 40px);
  }
  50% {
    transform: translate(-30px, 20px);
  }
  75% {
    transform: translate(20px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatK {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(25px, -30px);
  }
  50% {
    transform: translate(-15px, 10px);
  }
  75% {
    transform: translate(35px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatN {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-25px, 15px);
  }
  50% {
    transform: translate(20px, -20px);
  }
  75% {
    transform: translate(40px, 25px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatO {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(15px, 10px);
  }
  50% {
    transform: translate(-30px, 25px);
  }
  75% {
    transform: translate(10px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatLove {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, 40px);
  }
  50% {
    transform: translate(30px, -10px);
  }
  75% {
    transform: translate(-25px, -20px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatP {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(30px, 20px);
  }
  50% {
    transform: translate(-20px, -10px);
  }
  75% {
    transform: translate(40px, -30px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatT {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-20px, -30px);
  }
  50% {
    transform: translate(30px, 30px);
  }
  75% {
    transform: translate(-25px, -5px);
  }
  100% {
    transform: translate(0, 0);
  }
}
@keyframes floatY {
  0% {
    transform: translate(0, 0);
  }
  25% {
    transform: translate(-30px, 25px);
  }
  50% {
    transform: translate(40px, -20px);
  }
  75% {
    transform: translate(-25px, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}