$light-grey-background: #fafafa;
$grey-speed: #f8f8f8;
$dark-grey-info: #eeeeee;
$dark-blue-title: #219cab;
$blue-price: #2cc1d5;
$dark-green-title: #1c8b72;
$green-price: #24ae8d;
$dark-red-title: #c4554e;
$red-price: #f46a5f;
$dark-black-title: #282f37;
$black-price: #333a44;
$white: #ffffff;
$grey-text: #969695;
