//Цвета и градиенты
$background-gradient: linear-gradient(135deg, rgb(39, 39, 39) 44%, rgb(73, 73, 73) 100%, rgb(114, 114, 114) 100%);
$dark-gray: #4f4f4f;
$middle-gray: #828282;
$light-gray: #f2f2f2;
$white: #ffffff;
$acid-green: #70ff00;
$acid-blue: #61dafb;

//Шрифты
$roboto: "Roboto", sans-serif;
