.main__wrapper {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 20px;
}

textarea,
.text-paragraph {
  width: 30%;
  min-height: 150px;
  border-radius: 8px;
  font-family: "Arial", sans-serif;
  font-size: 18px;
}

.text-paragraph {
  border: 2px solid #000000;
}

button {
  padding: 10px;
  background-color: rgb(76, 214, 143);
  color: #000000;
  font-size: 20px;
  border: 2px solid #000000;
  border-radius: 8px;
  cursor: pointer;
}

button:hover {
  color: #ffffff;
  font-size: 22px;
}

.green {
  color: green;
}
