@font-face {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  src: url(/fonts/static/OpenSans-Regular.ttf);
}

header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #e0e0e0;
  width: 100%;
  height: 5rem;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 100%;
}

section {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  width: 60%;
  background-color: #fff9e3;
  padding: 1rem;
  box-sizing: border-box;
}

.two-blocks {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  margin: 3rem 0rem 0.5rem 0rem;
}

.block1,
.block2,
.block3 {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 45%;
  padding: 2rem;
  box-sizing: border-box;
  background-color: #feeab8;
}

.block3 {
  width: 100%;
  margin-top: 0.5rem;
}

aside {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: center;
  width: 40%;
  background-color: #ddeccb;
  padding: 1em;
  box-sizing: border-box;
}

footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-content: center;
  background-color: #e0e0e0;
  width: 100%;
  padding: 1rem;
  box-sizing: border-box;
}

.menu-footer {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  background-color: #ffffff;
  width: 23%;
  padding: 2rem;
  box-sizing: border-box;
}

h1,
p {
  font-family: "Open Sans, sans-serif";
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  color: #373739;
}
